services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    environment:
      JWT_ACCESS_SECRET: 'change_me_access'
      JWT_REFRESH_SECRET: 'change_me_refresh'
      SQLITE_PATH: '/data/dev.sqlite'
    volumes:
      - api_data:/data
    ports:
      - '3000:3000'

  dashboard:
    build:
      context: .
      dockerfile: Dockerfile.dashboard
    ports:
      - '4200:80'
    depends_on:
      - api

volumes:
  api_data:
